body{
   background-color: cornflowerblue; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-style: oblique;
    font-weight: 200;
    text-align: justify;
    line-height: 100%;
    margin-top:auto;
}
img {
    width: 100%;
    margin: left 20px;
    
    }
