/*========================================================== -->
                        <!-- "barra nav y titulo" -->
  <!--========================================================== */
.onep{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 20px;
  text-align: left;
  box-shadow: 0 0 30px rgb(55, 54, 66);
}
iframe{
  margin-left: 50;
}
.img_logo{
width: 50px;
height: 50px;
}



/*--========================================================== -->
                        <!-- body -->
  <!--========================================================== */

.oneforall{
  
  font-family: 'Yuji Mai', serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: 200;
    text-align: justify;
    line-height: 100%;
    margin-top: 20px;
    background: -webkit-linear-gradient(rgb(247, 246, 248), rgb(143, 143, 173));
   background: -moz-linear-gradient(rgb(248, 247, 246), rgb(158, 158, 214));
   background: -o-linear-gradient(rgb(248, 247, 246), rgb(118, 118, 182));
   
}

/*--========================================================== -->
                        <!-- personajes -->
  <!--========================================================== */
#characters{
    margin-top: 20px;
    margin-left: 10PX;
}
.logoluffy{
  width: 60px;
height: 50px;
}


/*--========================================================== -->
                        <!-- mapas -->
  <!--========================================================== */

#maps{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    
}

  .text-center
{
    margin-top: 50px;
}

.img-fluid{
  margin: 20px auto;
  border-radius: 25px;
  box-shadow: 0 0 20px rgb(34, 33, 32);
}

.logo_mapa{
  width:100px ; height:75px;
  border-radius: 20px;
}

/*--========================================================== -->
                        <!-- frutas -->
  <!--========================================================== */
.accordion-body{
 
  background: -webkit-linear-gradient(rgb(248, 247, 246), pink);
  background: -moz-linear-gradient(rgb(248, 247, 246), pink);
  background: -o-linear-gradient(rgb(248, 247, 246), pink); 
}

/*--========================================================== -->
                        <!-- footer final -->
  <!--========================================================== */


#final{
   background: -webkit-linear-gradient(rgb(248, 247, 246), pink);
   background: -moz-linear-gradient(rgb(248, 247, 246), pink);
   background: -o-linear-gradient(rgb(248, 247, 246), pink);
   
  }